<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.kh.khprovider.dao.CustomerDao">

    <insert id="addCust" parameterType="Customer">
         insert  into customer(cid,uid,createTime,updateTime,createorId,
            source,stateus)
            values (#{cid},#{uid},now(),now(),#{createorId},#{source},#{stateus})
    </insert>



</mapper>
